body {
  min-width: 320px;
  height: 100%;
  min-height: -webkit-fill-available;
  background-color: #f0f0f0;
}
html {
  height: -webkit-fill-available;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}
